a.nav-link{
    color: white;
}

div.info{
    color: white;
}

div.imagen{
    background-image: url(Kebab-grande.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

div.negro{
    background-color: rgba(0,0,0,0.86);
    opacity: 0.5;
}

p.sombra{
    text-shadow: 0px 0px 20px rgb(222, 17, 17);
}

