.container{
    min-width: 100%;
}

a.nav-link{
    color: white;
}

div.imagen{
    background-image: url(imagenes/Captura.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

div.info{
    color: white;
}

h2.sombra{
    text-shadow: 0px 0px 20px rgb(222, 17, 17);
}

li.list-group-item{
    color: brown;
}

div h5{
    color: green;
}

.horario{
    background-color: red;
    color: white;
}

.nosotros{
    background-image: url(imagenes/Kebab_en_tabla.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
}
